<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="RMDashboard" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\ReleaseManagementDashboard\.venv\Scripts\python.exe|C:\inetpub\wwwroot\ReleaseManagementDashboard\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requiredAccess="Script"/>
            <add name="ongc" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\ReleaseManagementDashboard\.venv\Scripts\python.exe|C:\inetpub\wwwroot\ReleaseManagementDashboard\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\ReleaseManagementDashboard\.venv\Scripts\python.exe|C:\inetpub\wwwroot\ReleaseManagementDashboard\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requiredAccess="Script" />
        </handlers>
        <security>
            <requestFiltering allowDoubleEscaping="true"
        </security>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\ReleaseManagementDashboard\" />
        <add key="DJANGO_SETTING_MODULE" value="Main.settings" />
    </appSettings>
</configuration>