{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                {% if request.session.can_edit or request.session.can_delete %}
                <th>Actions</th>
                {% endif %}
                <th>#</th>
                <th>Client</th>
                <th>Template</th>
                <th>Approval Note</th>
              </tr>
            </thead>
            <tbody>
              {% for item in approvals %}
              <tr>
                {% if request.session.can_edit or request.session.can_delete %}
                <td>
                  {% if request.session.can_edit %}
                  <a href="{% url 'crq_client_approval:edit' item.id %}" class="btn btn-primary btn-sm">Edit</a>
                  {% endif %}
                  {% if request.session.can_delete %}
                  <a href="{% url 'crq_client_approval:delete' item.id %}" class="btn btn-danger btn-sm">Delete</a>
                  {% endif %}
                </td>
                {% endif %}
                <td>{{ forloop.counter }}</td>
                <td>{{ item.client.client_name }}</td>
                <td>{{ item.template.project }}</td>
                <td>{{ item.approval_note }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
