{% extends 'base.html' %}

{% block content %}
   <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="table">
                  <thead>
                    <tr>
                       {% if request.session.can_edit or request.session.can_delete %}
                      <th>Actions</th>
                        {% endif %}
                      <th>#</th>
                      <th>Level</th>
                      <th>Description</th>
                      <th>Location</th>
                      <th>Employee Name</th>
                      <th>Contact Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for c in escalations %}
                    <tr>
                       {% if request.session.can_edit or request.session.can_delete %}
                      <td>
                        {% if request.session.can_edit %}
                        <a href="{% url 'Coordination_and_Execution_Escalation:edit' c.id %}" class="btn btn-primary btn-sm">Edit</a>
                        {% endif %}
                        {% if request.session.can_delete %}
                        <a href="{% url 'Coordination_and_Execution_Escalation:delete' c.id %}" class="btn btn-danger btn-sm">Delete</a>
                        {% endif %}
                      </td>
                        {% endif %}
                      <td>{{ forloop.counter }}</td>
                      <td>{{ c.level }}</td>
                      <td>{{ c.description }}</td>
                      <td>{{ c.location }}</td>
                      <td>{% for emp in c.employees.all %}
                          {{ emp.first_name }} {{ emp.last_name }}<br/>
                        {% empty %}
                          No employees
                        {% endfor %}</td>
                      <td class="ctxt">{{ c.contact_type }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
{% endblock %}