{% extends 'base.html' %}

{% block content %}
   <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      {% if request.session.can_edit or request.session.can_delete %}
                      <th>Actions</th>
                      {% endif %}
                      <th>#</th>
                      <th>Client Name</th>
                      <th>Vantive Name</th>
                      <th>Site ID</th>
                      <th>Advanced/Essential</th>
                      <th>Start Week</th>
                      <th>Start Day</th>
                      <th>Specific Date</th>
                      <th>Frequency</th>
                      <th>Add Month</th>
                      <th>Notes</th>
                      <th>Ask for Approval in Email</th>
                      <th>Email Greeting</th>
                      <th>Email To</th>
                      <th>Email CC</th>
                      <th>Email BCC</th>
                       
                    </tr>
                  </thead>
                  <tbody>
                    {% for c in clients %}
                    <tr>
                      {% if request.session.can_edit or request.session.can_delete %}
                      <td>
                        {% if request.session.can_edit %}
                        <a href="{% url 'clients:edit' c.id %}" class="btn btn-primary btn-sm">Edit</a>
                        {% endif %}
                        {% if request.session.can_delete %}
                        <a href="{% url 'clients:delete' c.id %}" class="btn btn-danger btn-sm">Delete</a>
                        {% endif %}
                      </td>
                        {% endif %}
                      <td>{{ forloop.counter }}</td>
                      <td>{{ c.client_name }}</td>
                      <td>{{ c.vantive_name }}</td>
                      <td>{{ c.site_id }}</td>
                      <td>{{ c.advanced_essential }}</td>
                      <td>{{ c.start_week }}</td>
                      <td>{{ c.start_day }}</td>
                      <td>{{ c.specific_date }}</td>
                      <td>{{ c.frequency }}</td>
                      <td>{{ c.add_month }}</td>
                      <td>{{ c.notes }}</td>
                      <td>{{ c.ask_for_approval_in_email }}</td>
                      <td>{{ c.email_greeting }}</td>
                      <td>{{ c.email_to }}</td>
                      <td>{{ c.email_cc }}</td>
                      <td>{{ c.email_bcc }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
{% endblock %}